.dash-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-form-totalvalue {
  margin: 10px;
}

.div-finances-list {
  margin: 10px;
}

@media (min-width: 800px) {
  .dash-div {
    flex-direction: row;
  }

  .div-form-totalvalue {
    width: 38%;
    margin: 0;
  }

  .div-finances-list {
    width: 58%;
    margin: 0;
  }
}
