.finances-sumary {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 15px;
}

.finances-sumary > h2 {
  font-weight: 700;
  font-size: var(--headline);
}

.navigation-buttons {
  display: flex;
}

@media (min-width: 500px) {
  .finances-sumary {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}
